:root { /* sets global variables for entire page */
  --palegrey: hsl(129, 9%, 70%);
  --softwhite: #fffce5;
  --softblack: #1d1d1d;
  --tranparentwhite:#ffffffcb;
}

body {
    background:var(--softblack);
}

#main {
    position: absolute;
    top: 25%;
    left: 40%;
    width: 200px;
    height: auto;
}

#main1 {
  position: absolute;
  top: 13%;
  left: 31.5%;
  width: 420px;
  height: auto;
}

#middle {
  position: absolute;
  top: 17.5%;
  left: 40%;
  width: 200px;
  height: auto;
}


#side1 {
  position: absolute;
  top: 23%;
  left: 16%;
  width: 245px;
  height: auto;
}

#side2 {
  position: absolute;
  top: 29%;
  left: 61%;
  width: 190px;
  height: auto;
}


#click {  /*cannot be more than one word, including underscored*/
    color: var(--softwhite);
    font-size:17px;
    position: absolute;
    top: 63%;
    left: 34%; /*can't get text-align to centre?*/
}

button {
  position: absolute;
  top: 72%;
  left: 43%;
  font-family: "Times New Roman", Times, serif;
  font-size:14px;
  visibility: hidden;
  border-radius: 5%;
  border: none;
  outline: none;
  padding: 7px 6px;
  color: var(--softblack);
  background-color: var(--tranparentwhite) ;
}

#version{
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: var(--softwhite);
  font-family: monospace;
}


  
